## Connecting to database

In [1]:
import mysql.connector

In [2]:
myDb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "student")

In [3]:
myCursor = myDb.cursor(buffered = True)

In [4]:
# comment after creating the database
#myCursor.execute("CREATE DATABASE ifaTabTrack")

In [5]:
# using the database 
myCursor.execute("USE ifaTabTrack")

## Creating the table

Creating the first table for new entry of students. 

The attributes considered are :-
1. Roll no
2. Name 
3. Age
4. Gender
5. Height
6. Weight

In [6]:
## comment this after creating the table

#myCursor.execute("CREATE TABLE newStud (RollNo int PRIMARY KEY, Name VARCHAR(255) NOT NULL, Age INT NOT NULL, Gender VARCHAR(10) NOT NULL, Height FLOAT NOT NULL, Weight FLOAT NOT NULL)")

Creating the second table for entry of the IFA tablet taken date of each student

The attributes considered are :-
1. Roll no
2. Date taken

In [7]:
## comment this after creating the table
#myCursor.execute("CREATE TABLE tabTaken(RollNo INT NOT NULL, DateTaken DATE, CONSTRAINT rnFk FOREIGN KEY(RollNo) REFERENCES newStud(RollNo))")

Describing the table

In [12]:
def DescTable(col):
    myCursor.execute(f"DESc {col}")
    myRes = myCursor.column_names
    for x in myRes:
        print(x, '   | ',end = " ")
    print()
    
    row = myCursor.fetchall()
    for i in row:
        for j in i:
            print(j, '   | ', end = "")
        print()

In [14]:
DescTable("newStud")

Field    |  Type    |  Null    |  Key    |  Default    |  Extra    |
RollNo    | b'int'    | NO    | PRI    | None    |     |
Name    | b'varchar(255)'    | NO    |     | None    |     |
Age    | b'int'    | NO    |     | None    |     |
Gender    | b'varchar(10)'    | NO    |     | None    |     |
Height    | b'float'    | NO    |     | None    |     |
Weight    | b'float'    | NO    |     | None    |     |

In [15]:
DescTable("tabTaken")

Field    |  Type    |  Null    |  Key    |  Default    |  Extra    |
RollNo    | b'int'    | NO    | MUL    | None    |     |
DateTaken    | b'date'    | YES    |     | None    |     |